@(name: String, project: models.Project, collaborators: List[models.Employee]) <!Michael Brady X00136103>

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.slim.js")"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
    </script>
}

@main("JCMB Inc. ".concat(project.getProjectName), scripts) {
    <div class="wrapper">
        <div class="container">
            <div class="well well-lg">
                <div class="row">
                    <img src="@routes.Assets.versioned("images/brain.jpg")">
                    <h1>@project.getProjectName</h1>
                    <h4>@project.getDescription</h4>
                </div>
                <div class="row">
                    <h1>Project Collaborators</h1>
                    <table class="table table-bordered">
                        <th>ID</th>
                        <th>Name</th>
                        @for(emp<-collaborators) {
                            <tr>@emp.getfName</tr>
                            <tr>@emp.getlName</tr>
                            <tr>@emp.getAge</tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}
